@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro,600);
body{
  background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)),url('../images/bl1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 80%;
  border: 20px solid darkseagreen;
  font-family: source sans Pro, sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
.blog{
  margin-bottom: 20px;
}
.date{
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.paragraph{
  border-left: 5px solid darkslategray;
  padding-left: 5px;
}
h2{
  font-size: 2.0rem;
  color: #fff;
}
hr{
  border: 0;
  height: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
p{
  color: #fff;
  font-weight: 600;
}